table{
    position: relative;
    top: 15px; left: 150px;
}

input{
height: 80px;
            width: 120px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.script{
    height: 480 ;
            width: 630px;
}
